html
body{
    background-image: url(galaxia.gif);
    background-color:black;
    background-size:cover;
    background-position: cover;
    }
.button{
    display:inline-flex;
    padding:10px 20px;
    background-color: none;
    color:#fff;
    border-radius:30px;
    cursor:pointer;
    transition:transform .3s ease;
    position:center;
    text-decoration:none;
}
.button:hover{
    transform:scale(1.1);
    background-color:red;

}
#container {
  color: white;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bold;
  padding-top: 200px;  
  position: fixed;
  width: 100%;
  bottom: 45%;
  display: flex;
  justify-content: center; /* Centraliza o texto horizontalmente */
  align-items: center; /* Centraliza o texto verticalmente */
  background-color: transparent; /* Cor de fundo */
  text-align: center; /* Centraliza o texto horizontalmente */
}

#flip {
  height: 50px;
  overflow: hidden;
}

#flip > div > div {
  color: #fff;
  padding: 4px 12px;
  height: 45px;
  margin-bottom: 45px;
  display: inline-block;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

#flip div div {
  background: none;
}

#flip div:first-child div {
  background: none;
}

#flip div:last-child div {
  background:none; /* Ajustado para corresponder à cor de fundo */
}

@keyframes show {
  0% {margin-top: -270px;}
  5% {margin-top: -180px;}
  33% {margin-top: -180px;}
  38% {margin-top: -90px;}
  66% {margin-top: -90px;}
  71% {margin-top: 0px;}
  99.99% {margin-top: 0px;}
  100% {margin-top: -270px;}
}

p {
  position: fixed;
  width: 100%;
  bottom: 30px;
  font-size: 12px;
  color: #999;
  margin-top: 200px;
}
