.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: NO;
  }
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 0.5vmin);
  color: aqua;
  font-size: 4rem;
  transition: color 2.5s;
}

.App-header:hover {
  color: #c70031;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.botao{
  background: black;
  display:inline-block;
  padding:10px 20px;
  background-color:#000;
  color:#fff;
  border-radius:30px;
  cursor:pointer;
  transition:transform .3s ease;
  position:end center;
  text-decoration:none;
  
}
.botao:hover{
  transform:scale(1.1);
  background-color:grey

}
html,
body{
  background-color: black;
}
