.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  color:white
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: none;
    position:end;
  }
}

.App-header {
  background-color: none;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  -moz-osx-font-smoothing: grayscale;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.App-link {
  color: none;
  position: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html
body{
  background-color: black;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: none;
  font-family: Arial, sans-serif;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(logo.gif);
 }

 .button{
  display:inline-flex;
  padding:10px 20px;
  background-color: none;
  color:#fff;
  border-radius:30px;
  cursor:pointer;
  transition:transform .3s ease;
  position:center;
  text-decoration:none;
}
.button:hover{
  transform:scale(1.1);
  background-color:red;
}
/* Estilos básicos da barra de navegação */
.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Alinha os itens à direita */
  padding: 0.5rem 1rem;
  background-color: black; /* Fundo cinza */
  color: #ffffff; /* Texto branco */
  position: fixed;
  top: 0;
  right: 0;
  width: auto; /* Ajusta a largura automaticamente */
}

.navbar-collapse {
  display: flex;
  align-items: center;
}

.navbar-nav {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
}

.nav-item {
  margin: 0.5rem;
  position: relative;
}

.nav-link {
  color: #ffffff; /* Texto branco */
  text-decoration: none;
}

.nav-link:hover {
  color: #007bff;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: black; /* Fundo cinza */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.dropdown-item {
  display: block;
  padding: 0.25rem 1.5rem;
  color: #ffffff; /* Texto branco */
  text-decoration: none;
}

.dropdown-item:hover {
  background-color: blue;
}

.dropdown-divider {
  height: 1px;
  margin: 0.5rem 0;
  overflow: hidden;
  background-color: #e9ecef;
}

/* Estilo para dropdowns abertos */
.nav-item.dropdown.open .dropdown-menu {
  display: block;
}
