body {
  background-color: black;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(logo.gif);
}



.botao{
  display:inline-flex;
  padding:10px 20px;
  background-color: none;
  color:#fff;
  border-radius:30px;
  cursor:pointer;
  transition:transform .3s ease;
  position:center;
  text-decoration:none;
}
.botao:hover{
  transform:scale(1.1);
  background-color:red;
}

.Iam {
  padding: 2em 5em;
  font: normal 40px/50px Montserrat, sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; /* Alinha o texto dentro do container */
}

.Iam p {
  margin: 0;
}

.Iam b {
  position: relative;
  overflow: hidden;
  height: 50px;
  top: 10px;
}

.innerIam {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0;
  left: 0;
  animation: move 5s infinite;
}

@keyframes move {
  0% { top: 0px; }
  20% { top: -50px; }
  40% { top: -100px; }
  60% { top: -150px; }
  80% { top: -200px; }
}

/* Vendor-prefixed keyframes for compatibility */
@-webkit-keyframes move {
  0% { top: 0px; }
  20% { top: -50px; }
  40% { top: -100px; }
  60% { top: -150px; }
  80% { top: -200px; }
}

@-moz-keyframes move {
  0% { top: 0px; }
  20% { top: -50px; }
  40% { top: -100px; }
  60% { top: -150px; }
  80% { top: -200px; }
}

@-o-keyframes move {
  0% { top: 0px; }
  20% { top: -50px; }
  40% { top: -100px; }
  60% { top: -150px; }
  80% { top: -200px; }
}
